* {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(0, 0, 33);
  color: white;
  font-family: "Poppins", sans-serif;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  background-color: rgb(18, 18, 62);
}

nav ul {
  display: flex;
  justify-content: center;
}

nav ul li {
  list-style: none;
  margin: 0 23px;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

nav ul li a:hover {
  color: rgb(153, 153, 226);
  font-size: 1.01;
}

.left {
  font-size: 1.5 rem;
}

.firstSection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 130px 0;
}

.firstSection > div {
  width: 30%;
}

.leftSection {
  font-size: 3rem;
}

.rightSection img {
  width: 80%;
}

.purple {
  color: rgb(170, 107, 228);
}

.text-gray {
  color: gray;
}

#element {
  color: rgb(170, 107, 228);
}

main hr {
  background-color: rgb(178, 178, 187);
  border: 0;
  height: 1.2px;
  margin: 60px 84px;
}

.secondSection {
  max-width: 80vw;
  margin: auto;
  height: 77vh;
}

.secondSection h1 {
  font-size: 1.9rem;
}

.secondSection .box {
  width: 80vw;
  background: white;
  height: 2px;
  margin: 56px 0;
  display: flex;
}

.secondSection .vertical {
  background: white;
  width: 1px;
  height: 93px;
  margin: 0 120px;
}

.image-top {
  width: 23px;
  position: relative;
  top: -32px;
  left: -9px;
}

.vertical-title {
  position: relative;
  top: 75px;
  width: 150px;
  font-size: 14px;
}

.vertical-desc {
  position: relative;
  top: 86px;
  width: 150px;
  color: gray;
  font-size: 9px;
}
footer {
  background-color: #130d13;
}
.footer {
  padding: 23px 123px;
  display: flex;
  justify-content: space-evenly;
}

.footer ul {
  list-style: none;
}

.footer > div {
  width: 223px;
}

footer .footer-rights {
  text-align: center;
  color: gray;
  padding: 12px 0;
}

.leftSection .btn {
  padding: 12px;
  background-color: #262665;
  color: white;
  border: 2px solid white;
  border-radius: 6px;
  font-size: 20px;
  cursor: pointer;
}
.leftSection .buttons {
    padding: 50px 0;
}
